:root {
    --primary-color: #f08b0a;
    /* --tt-color: #482f81; */
    /* --tt-color: #594099;  */
    --tt-color: #301934; 
    --founder-color: #1e0f20;
    --ct-color: #000000;
    --card-color: #F2F2F2;
}
